html, body {
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    padding: 10px 20px 0px;
}
.header {
    min-height: 150px;
}
.content {
    text-align: center;
    min-height: 200px;
    padding: 20px;
}
.footer {
    
    min-height: 150px;
}
.row{
    margin: 5px;
}
label{
    width: 100px;
    text-align: right;
    display: inline-block;
    padding-right: 5px;
}
